<h1>Início</h1>

<p>Seja Bem vindo ao Shop Elegance, sua loja de Roupas e Calçados</p>
<script>
		jQuery(function(){
			
			jQuery('#camera_wrap_1').camera({
				thumbnails: false,
				height: '400px'
			});

		});
</script>

<div class="camera_wrap camera_azure_skin" id="camera_wrap_1">

	<div data-src="http://lorempixel.com/output/fashion-q-c-960-300-4.jpg"></div>
    <div data-src="http://lorempixel.com/output/fashion-q-c-960-300-6.jpg"></div>

</div>
<div class="clear"></div>